<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Task</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h2>Tambah Tugas</h2>
    <form action="/tasks/create" method="POST">
      <input type="text" name="title" placeholder="Nama Tugas" required />
      <input type="text" name="category" placeholder="Kategori" required />
      <input type="date" name="deadline" placeholder="Deadline" required />
      <input type="text" name="status" placeholder="Status" required />
      <button type="submit">Simpan</button>
    </form>
  </body>
</html>