<!DOCTYPE html>
<html>
  <head>
    <title>Delete Task</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h2>Delete Tugas</h2>
    <form action="/tasks/delete/<%= task.id %>" method="DELETE">
      <button type="submit" onclick="return confirm('Apakah kamu yakin ingin menghapus task ini?');">
          Hapus
      </button>
  </form>
  
  </body>
</html>